<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="writeform">
    게시물 제목 : <input type="text" name="btitle" id="btitle"> <br>
    게시물 내용 : <input type="text" name="bcontent" id="bcontent"><br>
    게시물 작성자 : <input type="text" name="bid" id="bid"><br>
    게시물 비번 : <input type="text" name="bpassword" id="bpassword"><br>
    <button type="button" onclick="boardwrite()">등록</button>
</form>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/boardwrite.js"></script>
</body>
</html>